DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=replace-with-a-long-random-secret
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:3000
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:3000
DJANGO_CORS_ALLOWED_ORIGIN_REGEXES=
DJANGO_TIME_ZONE=Africa/Nairobi

HOSPITAL_NAME=Phase 1 General Hospital
HOSPITAL_CODE=PGH

DB_ENGINE=postgresql
POSTGRES_DB=hospital_ehr
POSTGRES_USER=ehr_user
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_CONN_MAX_AGE=60
POSTGRES_SSLMODE=prefer

REDIS_URL=redis://127.0.0.1:6379/0
CACHE_DEFAULT_TIMEOUT=300
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/1
CELERY_TASK_ALWAYS_EAGER=True
APPOINTMENT_REMINDER_INLINE_MODE=True
APPOINTMENT_CRON_SECRET=replace-with-a-long-random-cron-secret

MAX_UPLOAD_SIZE_MB=25
FILE_ENCRYPTION_READY=True

JWT_ACCESS_MINUTES=15
JWT_REFRESH_HOURS=24

SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_SSL_REDIRECT=False
USE_X_FORWARDED_HOST=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_INCLUDE_SUBDOMAINS=True
SECURE_HSTS_PRELOAD=True

THROTTLE_ANON=60/min
THROTTLE_USER=300/min
THROTTLE_LOGIN=10/min
THROTTLE_PATIENT_SEARCH=120/min
THROTTLE_PATIENT_WRITE=60/min
THROTTLE_AUDIT=30/min
THROTTLE_CLINICAL_READ=240/min
THROTTLE_CLINICAL_WRITE=90/min
THROTTLE_LAB_UPLOAD=45/min
THROTTLE_PRESCRIPTION_DISPENSE=60/min
THROTTLE_OPERATIONS_READ=180/min
THROTTLE_OPERATIONS_WRITE=60/min
THROTTLE_BILLING_READ=180/min
THROTTLE_BILLING_WRITE=70/min
THROTTLE_IMAGING_READ=180/min
THROTTLE_IMAGING_WRITE=60/min
THROTTLE_NOTIFICATIONS=120/min
THROTTLE_REPORTS=30/min
THROTTLE_APPOINTMENTS_READ=180/min
THROTTLE_APPOINTMENTS_WRITE=80/min
THROTTLE_REMINDERS_ADMIN=90/min

APPOINTMENT_REMINDER_SCHEDULE_HOUR=18
APPOINTMENT_REMINDER_SCHEDULE_MINUTE=0

AFRICASTALKING_USERNAME=sandbox
AFRICASTALKING_API_KEY=replace-with-africas-talking-api-key
AFRICASTALKING_SENDER_ID=

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.sendgrid.net
EMAIL_PORT=587
EMAIL_HOST_USER=apikey
EMAIL_HOST_PASSWORD=replace-with-email-password-or-sendgrid-api-key
EMAIL_USE_TLS=True
EMAIL_TIMEOUT=20
DEFAULT_FROM_EMAIL=Hospital EHR <no-reply@example-hospital.com>
SENDGRID_API_KEY=
